html {
  /* Display & Box Model */
  box-sizing: border-box;

  /* Other */
  font-size: 62.5%;
}

*,
*::before,
*::after {
  /* Box Model */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.dnd-container {
  /* Display & Box Model */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 150px;
  border: 1px solid black;
  margin: 10px;
}

.dnd-container > div {
  border: 1px solid red;
}

.dnd-item {
  font-size: 3rem;
  text-align: center;
}

.dnd-item:hover {
  cursor: default;
}

/* Source
 * https://danoc.me/blog/css-prevent-copy/#an-elegant-solution-using-pseudo-elements
 */
[data-pseudo-content]::before {
  content: attr(data-pseudo-content);
}

.drag-hover {
  background-color: hsla(236, 86%, 66%, 0.5);
}